@model IEnumerable<EmreWebApi.Models.Boklån>


@{
    ViewData["Title"] = "Förseningar";
}



<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<h1>Försenade inlämningar</h1>

<table class="table" style="background-color:white;">
    <thead class="thead-dark">
        <tr>
            <th>
                BokTitel
            </th>
            <th>
                ISBN
            </th>
            <th>
                Låntagare
            </th>

            <th>
                Telefon
            </th>

            <th>
                Inlämningsdatum
            </th>
        </tr>
    </thead>


    <tbody>
        @foreach (var item in Model)
        {
            <tr>
               <td>@item.Bok.BokTitel</td>
                <td>@item.Bok.Isbn</td>
                <td>@item.Låntagare.Förnamn</td>
                <td>@item.Låntagare.Telefonnummer</td>
                <td>@item.ReturDatum</td>


            </tr>
        }
    </tbody>

</table>

  